*
!README.md
!active-setup.png
!.gitignore
!.gitmodules

!i3/
!i3/**

!tmux/
!tmux/**

!polybar/
!polybar/**

!sketchybar/
!sketchybar/**

!skhd/
!skhd/**

!yabai/
!yabai/**

!git/
!git/**

!nvim/
!nvim/**

!picom/
!picom/**
