.banner {
  --header-color: #20E9B7;
  --body-color: #00D29E;

  &__header {
    background-color: var(--header-color);
    max-height: 23px;
    min-height: 23px;
  }

  &__body {
    background-color: var(--body-color);
    min-height: 52px;
  }
}

:global(.theme-dark) .banner__header {
  background-color: var(--header-color);
}

:global(.theme-dark) .banner__body {
  background-color: var(--body-color);
}

.banner:hover .banner__header {
  background-color: var(--header-color);
}

.banner:hover .banner__body {
  background-color: var(--body-color);
}

:global(.theme-dark) .banner:hover .banner__header {
  background-color: var(--header-color);
}

:global(.theme-dark) .banner:hover .banner__body {
  background-color: var(--body-color);
}
