


.secondCellDiv {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}


.myicon {
	padding: 0px 5px 0px 5px;
	color: rgb(42, 42, 42);
	transition: transform 0.5s ease;
}

.myicon:hover {
	transition: transform 0.5s ease;
	transform: scale(1.25);
}

.fa-calendar-active {
	color: green;
}
.fa-bookmark-active {
	color: rgb(0 102 204);
}