.hover-actions {
  visibility: hidden;
}

.hover-invisible-action {
  visibility: hidden;
}

.view-field {
  padding-top: 15px;
  padding-bottom: 15px;

  &__value-container {
    min-height: 34px;
  }

  &:hover {
    & .hover-actions {
      visibility: visible;
      display: inline-flex;
    }

    & .hover-invisible-action {
      visibility: visible;
    }
  }

  &__label,
  &__value {
    letter-spacing: -.01em;
    line-height: 18px;
    max-width: 280px;
  }

  &__value--no-actions {
    max-width: unset;
  }

  &__label {
    &--extra-space {
      padding-top: 6px;
      margin-right: 10px;
    }
  }

  &--extra-space {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
