.shared-with {
  .email-icon:not(:last-child) {
    margin-left: -16px;
  }

  &:hover {
    > .shared-with__icon {
      .theme-dark & {
        background-color: var(--grey-darker);
        border-color: var(--dmd-2);
      }
    }
  }
}
