.password-generator {
  &__password {
    min-height: 52px;
  }
}

.input-range {
  position: relative;
  height: 16px;

  &__track {
    display: block;
    position: relative;
    height: 16px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      height: 4px;
      background: rgba(var(--teal-base-rgb), .15);
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
      border-radius: 10px;
    }

    &:not(.input-range__track--active) {
      &::after {
        .theme-dark & {
          background-color: var(--dmd-2);
        }
      }
    }

    &--active {
      display: block;
      position: relative;
      height: 16px;
      cursor: pointer;

      &::after {
        content: '';
        height: 4px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--teal-base);
        width: 100%;
        position: absolute;
        z-index: 1;
      }
    }
  }

  &__slider {
    position: absolute;
    height: 16px;
    width: 16px;
    cursor: pointer;
    appearance: none;
    margin-top: -16px;
    margin-left: -8px;
    z-index: 1;
    border-width: 5px;
    background-color: var(--grey-white);
    border-color: var(--teal-base);
    @apply rounded-full;
  }

  &__label {
    z-index: 1;

    &-container {
      font-size: 12px;
    }

    &--min,
    &--max {
      display: none;
    }

    &--value {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -18px;
      left: 12px;
      width: 20px;
      height: 20px;
      font-size: 10px;
      font-weight: 500;
      border-radius: 3px;
      background-color: var(--grey-white);
      border: 1px solid var(--grey-base);
      color: var(--grey-darker);

      .theme-dark & {
        background-color: var(--grey-darkest);
        border: 1px solid var(--dmd-2);
        color: var(--grey-white);
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        border: solid transparent;
      }

      &::after {
        border-right-color: var(--grey-white);
        border-width: 4px;

        .theme-dark & {
          border-right-color: var(--grey-darkest);
        }
      }

      &::before {
        border-right-color: rgba(var(--grey-dark-rgb), .4);
        border-width: 5px;
      }
    }

    &.left {
      left: -32px;

      &::before,
      &::after {
        right: unset;
        left: 100%;
      }

      &::after {
        border-right-color: transparent;
        border-left-color: var(--grey-white);
        border-width: 4px;
      }

      &::before {
        border-right-color: transparent;
        border-left-color: rgba(var(--grey-dark-rgb), .4);
        border-width: 5px;
      }

      .theme-dark & {
        &::after {
          border-right-color: transparent;
          border-left-color: var(--grey-darkest);
        }

        &::before {
          border-right-color: transparent;
          border-left-color: var(--dmd-2);
        }
      }
    }
  }
}
