.account-switch {
  &__add-button {
    @apply transition-all duration-250 ease-out w-full flex items-center pl-4;
    height: 56px;
    max-height: 56px;
  }

  &__svg--dark:global(.nord-svg) {
    path:first-of-type {
      fill: var(--grey-darker);
    }

    path:nth-of-type(2) {
      fill: var(--grey-white);
    }
  }

  &__svg--light:global(.nord-svg) {
    path:first-of-type {
      fill: var(--dml-1);
    }

    path:nth-of-type(2) {
      fill: var(--grey-darker);
    }
  }
}
